body {
  background-color: white;
  margin: 10%;
}

.info {
  font-family: Arial;
  line-height: 10px;
  text-align: right;
  padding-left: 20px;
  h1 {color:#2196F3}
  
}

.skills {
  font-family: Arial;

} 

.experience {
    font-family: Arial;
}

.description {
  font-family:Arial;
  
}
.grid-container {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 1px;
  background-color: white;
  padding-left: 10px;
  font-family: Arial;


}

.grid-container > div {
  border: 1px solid white;
  text-align: left;
  border-top: 2px solid #2196F3;
  
}
.title {
    h3 {color: #2196F3};
  
}
}
}
}
